html,
body {
  background-color: #222;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

canvas {
  display: block;
}

#sketch-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 4%;
  right: 125px;
  position: relative;
}

#stuff-container {
  display: block ruby;
  margin-top: 30px;
  text-align: center;
}

.stuff-holder {
  margin: auto;
}

p {
  color: white;
}

input {
  width: 250px;
}

#zoom {
  position: relative;
  /* left: 2760px; */
  left: 1260px;
  height: 200px;
}
#zoomVal {
  display: block;
  position: relative;
  text-align: center;
  /* top: 80px; */
}

#fps {
  font-size: 24px;
  text-align: center;
}
